#table{
    font-size: 10px;
    }
    .table-striped{
        font-size: 10px;
    }
    #pagina{
     background-image: linear-gradient(to right, rgb(253, 255, 255),white)
    
    }
    .table th{
        background-color: #337ab7;
        color: white;
         font-family: Arial, Helvetica, sans-serif;
         height: 5px;
    }
    #filtros{
        width: 700px;
    }
    
    #button{
        float: right;
        margin-right: 30px;
        margin-top: 5px;
        font-size: 12px;
    }
    label{
        margin-left: 5px;

    }
    
    
    
    